/* CVG HTML Data CSS Definition for page1 */

.hilight0414Ori{
	font-size:20px;
	font-weight:bold;
	line-height:140%;
}
.btn0414Ori{
	font-size:20px;
	padding-top:3px;
	text-align:left;
	line-height:130%;
}

.hilight0414Screen{
	font-size:12px;
	font-weight:bold;
	line-height:140%;
}
.btn0414Screen{
	font-size:12px;
	padding-top:1px;
	text-align:left;
	line-height:130%;
}